plotly==5.15.0
dash==2.11.1
pandas==1.5.3
xarray==2022.06.0
rtree==0.9.7
flask-caching==2.0.2
gunicorn==20.1.0
requests==2.27.1
zstandard==0.20.0
orjson==3.6.7
dash_leaflet==0.1.28
shapely==2.0.1
pyyaml==5.4.1
scipy==1.9.2
numpy==1.23.0
pydantic==1.10
numexpr==2.8.3
numcodecs==0.9.1
boto3==1.24.35
jmespath==1.0.0
werkzeug==2.0.3
protobuf==3.20
dash-bootstrap-components==1.4.1
dash-mantine-components==0.12.1
dash-extensions==1.0.1
geobuf==1.1.1
